* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Varela Round", sans-serif;
  }
  
  .player {
    width: 100%;
    max-width: 340px;
    padding: 20px;
    margin: 10px auto;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 5px;
  }
  .player .album-cover {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.35);
  }
  .player .album-cover img {
    display: block;
    max-width: 100%;
  }
  .player .song-progress-bar {
    width: 100%;
    height: 3px;
    background: #ddd;
    margin: 10px 0;
  }
  .player .song-progress-bar .inner-bar {
    height: 3px;
    background: #df405a;
    width: 25%;
  }
  .player .song-info .song-title {
    margin-bottom: 0;
  }
  .player .player-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
  }
  .player .player-buttons .playerbtn i {
    font-size: 25px;
    cursor: pointer;
    transition: 0.15s ease-in-out;
  }

  .player .player-buttons .playerbtn i:hover {
    color: #df405a;
  }
  
  .player .player-buttons .playerbtn-sm i {
    font-size: 15px;
    cursor: pointer;
    transition: 0.15s ease-in-out;
  }
  .player .player-buttons .playerbtn-sm i:hover {
    color: #df405a;
  }