* {
  box-sizing: border-box;
  background: #fafafa;
}

body {
  font-family: "Varela Round", sans-serif;
  width: 300px;
  overflow-x: hidden;
}

.welcome {
  width: 100%;
  margin: 10px auto;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  display: none;
}

.player {
  width: 100%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.player-sm {
  width: 100%;
  margin-top: 2px;
  border: 0;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.player-sm .player-buttons-sm {
  right: 3px;
  position: relative;
}

.player-sm .player-buttons-sm .playerbtn i {
  font-size: 30px;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}

.player-sm .player-buttons-sm .playerbtn i:hover {
  color: #df405a;
}

.player-sm .song-info {
  width: 80%;
}

.player-sm .song-info .song-band-wrapper .song-band {
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 5px;
  text-align: start;
  font-size: 14px;
}

.player-sm .song-info .song-title {
  margin-bottom: 5px;
  margin-top: 5px;
  flex-direction: column;
  font-size: 14px;
  text-align: start;
}

.player .song-info .song-title {
  margin: 5px;
  text-align: start;
  font-size: 16px;
  cursor: pointer;
}

.player .song-info .song-band {
  margin: 5px;
  text-align: start;
  font-size: 14px;
  cursor: pointer;
}

.player .album-cover img {
  align-content: center;
  display: block;
  max-width: 100%;
}

.player .song-progress-bar {
  width: 100%;
  height: 3px;
  background: #ddd;
  margin: 5px 0;
}

.player .song-progress-bar .inner-bar {
  height: 3px;
  background: #df405a;
  width: 45%;
}

.player .player-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

.player .player-buttons .playerbtn i {
  font-size: 25px;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}

.player .player-buttons .playerbtn i:hover {
  color: #df405a;
}

.btn-toggled {
  color: #df405a;
}

.player .player-buttons .playerbtn-sm i {
  font-size: 15px;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}

.player .player-buttons .playerbtn-sm i:hover {
  color: #df405a;
}

.ambilight {
  width: 300px;
  height:300px;
  padding: 30px;
  position: relative;
}

.ambilight .image {
  width: 100%;
  position: relative;
  z-index: 100;
}

.ambilight .light {
  opacity: 0.75;
  -webkit-filter: blur(30px);
  filter: blur(30px);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.volume_selector {
  background: rgba(45, 45, 44, 0.1);
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 5px;
}

.volume_popup {
  background: transparent;
  position: relative;
  display: inline-block;
  height: 150px;
  margin-top: -170px;
  margin-left: -17px;
}

.playerbtn-sm .volume_popup {
  visibility: hidden;
  position: absolute;
  z-index: 1;
}

.playerbtn-sm:hover .volume_popup {
  visibility: visible;
}

input[type=range] {
  -webkit-appearance: none;
  outline: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-moz-focus-outer {
  border: 0;
}

input[type=range]::-moz-range-track {
  height: 100%;
  width: 3px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #df405a;
}

input[type=range]::-moz-range-thumb {
  height: 10px;
  width: 10px;
  border-radius: 25px;
  background: #df405a;
  cursor: pointer;
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}